<h1>Show Product</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @product.title %>
  </li>

  <li>
    <strong>Price:</strong>
    <%= @product.price %>
  </li>

  <li>
    <strong>Nabavanet:</strong>
    <%= @product.nabavanet_id %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.product_path(@conn, :edit, @product) %></span> |
<span><%= link "Back", to: Routes.product_path(@conn, :index) %></span>
